.shows {
    /* margin-top: 10px; */
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/_DSC8277.jpeg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.showsHeader {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 3rem;

    color: var(--yellow);
    padding: 10px;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    z-index: 1;
}

.text {
    font-family: 'Helvetica', sans-serif;
    color: var(--primary-white);
    font-size: 1.5rem;
    padding: 10px;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    z-index: 1;
}

@media (max-width: 800px) {
    .shows {
        background-image: url('../../assets/images/_DSC8277.jpeg');
        /* repeat background image for smaller screens */
        background-repeat: repeat;
        background-size: 100% auto;
    }
}