@font-face {
  font-family: 'MesaLane';
  src: url('./assets/fonts/MesaLane.otf') format('opentype');
}

:root {
  --primary-white: #eceade;
  --yellow: #e5ad3e;
  --off-blue: #7c91be;
  --vibrant-orange: #fe5700;
}